<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backGroundLocate.mapper.main.BnsUserLocateMapper">
    <resultMap id="BaseResultMap" type="com.backGroundLocate.entity.BnsUserLocate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="longitude" jdbcType="VARCHAR" property="longitude" />
        <result column="latitude" jdbcType="VARCHAR" property="latitude" />
        <result column="lon_lat" jdbcType="VARCHAR" property="lonLat" />
        <result column="upload_time" jdbcType="VARCHAR" property="uoloadTime" />
        <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,address,longitude,latitude,lon_lat,upload_time,timestamp
    </sql>

    <insert id="createUserLocation" parameterType="com.backGroundLocate.entity.BnsUserNewestLocate" >
        insert into t_bns_user_locate(
                    user_id,
                    address,
                    longitude,
                    latitude,
                    lon_lat,
                    upload_time,
                    timestamp)
        values(#{userId,jdbcType=INTEGER},
               #{address,jdbcType=VARCHAR},
               #{longitude,jdbcType=VARCHAR},
               #{latitude,jdbcType=VARCHAR},
               #{lonLat,jdbcType=VARCHAR},
               #{uploadTime,jdbcType=VARCHAR},
               #{timestamp,jdbcType=BIGINT})
    </insert>

    <select id="selectUserTrackList" resultType="java.util.Map" parameterType="map">
      SELECT
	    lon_lat AS lonlat,
	    timestamp AS timestamp
      FROM
	    t_bns_user_locate

      WHERE
	    user_id = #{unitId,jdbcType=INTEGER}
        AND timestamp &gt;= #{startTimestamp,jdbcType=BIGINT}
        AND timestamp &lt;= #{endTimestamp,jdbcType=BIGINT}
    </select>
</mapper>