<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backGroundLocate.mapper.main.CarInfoMapper">
    <resultMap id="BaseResultMap" type="com.backGroundLocate.entity.CarInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type_id" jdbcType="INTEGER" property="typeId" />
        <result column="type_name" jdbcType="VARCHAR" property="typeName" />
        <result column="dept_id" jdbcType="INTEGER" property="deptId" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="sim_number" jdbcType="VARCHAR" property="simNumber" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type_id,type_name,dept_id,dept_name,sim_number,status
    </sql>

    <select id="selectCarListByDept" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from t_car_info where dept_id = #{deptId,jdbcType=INTEGER}
    </select>

    <select id="selectCarList" resultMap="BaseResultMap" parameterType="com.backGroundLocate.entity.CarInfo">
        select <include refid="Base_Column_List" /> from t_car_info where 1=1
        <if test="name !=null and name != ''">
            AND name like '%'+#{name,jdbcType=VARCHAR}+'%'
        </if>
        <if test="deptId !=0">
            AND dept_id = #{deptId,jdbcType=INTEGER}
        </if>
        <if test="simNumber !=null and simNumber != ''">
            AND sim_number = #{simNumber,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectCarListForDept" resultMap="BaseResultMap" parameterType="map">
        select <include refid="Base_Column_List" /> from t_car_info where 1=1
        <if test="name !=null and name != ''">
            AND name like '%'+#{name,jdbcType=VARCHAR}+'%'
        </if>
        <if test="deptId !=0">
            AND dept_id = #{deptId,jdbcType=INTEGER}
        </if>
        <if test="simNumber !=null and simNumber != ''">
            AND sim_number = #{simNumber,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectCar" resultMap="BaseResultMap" parameterType="com.backGroundLocate.entity.CarInfo">
        select <include refid="Base_Column_List" /> from t_car_info where 1=1
        <if test="id !=0 ">
            AND id = #{id,jdbcType=INTEGER}
        </if>
        <if test="name !=null and name != ''">
            AND name like '%'+#{name,jdbcType=VARCHAR}+'%'
        </if>
        <if test="simNumber !=null and simNumber != ''">
            AND sim_number = #{simNumber,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectCarIllegalNum" resultType="java.lang.Integer" parameterType="map">
      SELECT
            isnull(COUNT ( i.id ),0)
        FROM
            t_car_info u,
            t_illegal_info i
        WHERE
            i.unit_id = u.id
            AND i.illegal_time &gt;= #{ startTimestamp,jdbcType = INTEGER }
        AND i.illegal_time &lt;= #{ endTimestamp,jdbcType = INTEGER }
        AND u.id = #{ unitId,jdbcType = INTEGER }
    </select>


    <select id="selectCarForNewest" resultMap="BaseResultMap" parameterType="map">
        <if test="userLevel == 1">
            SELECT c.id,c.name,c.type_id,c.type_name,c.dept_id,c.dept_name,c.sim_number,c.status FROM t_car_info c, t_department d WHERE c.dept_id = d.id AND c.dept_id IS NOT NULL
            <if test="onlyDeptName!=null and onlyDeptName!=''">
                AND d.dept_name = #{onlyDeptName,jdbcType=VARCHAR}
            </if >
            <if test="deptName!=null and deptName!=''">
                AND (d.dept_name = #{deptName,jdbcType=VARCHAR}  OR d.parent_id = #{parentId,jdbcType=INTEGER})
            </if >
            <if test="unitName!=null and unitName!=''">
                AND c.name LIKE  '%'+#{unitName,jdbcType=VARCHAR}+'%'
            </if >
        </if>

        <if test="userLevel == 2">
            SELECT c.id,c.name,c.type_id,c.type_name,c.dept_id,c.dept_name,c.sim_number,c.status FROM t_car_info c, t_department d WHERE c.dept_id = d.id AND c.dept_id IS NOT NULL
            AND d.dept_level &gt;= 2
            <if test="onlyDeptName!=null and onlyDeptName!=''">
                AND d.dept_name = #{onlyDeptName,jdbcType=VARCHAR}
            </if >
            <if test="deptName!=null and deptName!=''">
                AND (d.dept_name = #{deptName,jdbcType=VARCHAR}  OR d.id = #{deptId,jdbcType=INTEGER} OR d.parent_id = #{parentId,jdbcType=INTEGER})
            </if >
            <if test="unitName!=null and unitName!=''">
                AND c.name LIKE '%'+#{unitName,jdbcType=VARCHAR}+'%'
                AND (d.id = #{deptId,jdbcType=INTEGER} or d.parent_id = #{deptId,jdbcType=INTEGER})
            </if >
        </if>

        <if test="userLevel gte 3">
            SELECT c.id,c.name,c.type_id,c.type_name,c.dept_id,c.dept_name,c.sim_number,c.status FROM t_car_info c, t_department d WHERE c.dept_id = d.id AND c.dept_id IS NOT NULL
            AND d.dept_level = 3
            AND d.id = #{deptId,jdbcType=INTEGER}
            <if test="unitName !=null and unitName != ''">
                AND c.name LIKE '%'+#{unitName,jdbcType=VARCHAR}+'%'
            </if>
        </if>
    </select>
</mapper>