<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backGroundLocate.mapper.BackgroundLocateCarNewestMapper">
    <resultMap id="BaseResultMap" type="com.backGroundLocate.entity.BackgroundLocateCarNewest">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="car_id" jdbcType="INTEGER" property="car_id" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="longitude" jdbcType="VARCHAR" property="longitude" />
        <result column="latitude" jdbcType="VARCHAR" property="latitude" />
        <result column="longitude_latitude" jdbcType="VARCHAR" property="longitude_latitude" />
        <result column="upload_time" jdbcType="VARCHAR" property="upload_time" />
        <result column="times_tamp" jdbcType="INTEGER" property="times_tamp" />
    </resultMap>

    <insert id="saveLocationOfNewest" parameterType="com.backGroundLocate.entity.BackgroundLocateCarNewest" >
    insert into t_background_locate_car_newest(
                car_id,
                car_name,
                address,
                longitude,
                latitude,
                longitude_latitude,
                upload_time,
                times_tamp)
    values(#{car_id,jdbcType=INTEGER},
           #{car_name,jdbcType=VARCHAR},
           #{address,jdbcType=VARCHAR},
           #{longitude,jdbcType=VARCHAR},
           #{latitude,jdbcType=VARCHAR},
           #{longitude_latitude,jdbcType=VARCHAR},
           #{upload_time,jdbcType=VARCHAR},
           #{times_tamp,jdbcType=INTEGER})


  </insert>

    <select id="selectCarLocationForNewest" resultType="java.util.Map" parameterType="int">
        select b.id,b.name,a.longitude_latitude as lon_lat from t_background_locate_car_newest a,t_car_info b where a.car_id = b.id and a.car_id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteLocationOfNewest" parameterType="com.backGroundLocate.entity.BackgroundLocateCarNewest" >
    delete from t_background_locate_car_newest where car_id = #{car_id,jdbcType=INTEGER}
  </delete>
</mapper>